<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Interpolation Polynomial</title>
    </head>
    <body>
        <h1>Interpolation Polynomial</h1>
        <form method="post">
            <label for="function">Enter Function (e.g. x^2 + 4):</label>
            <input type="text" name="function" id="function" required><br><br>

            <label for="a">Interval start (a):</label><br>
            <input type="text" name="a" id="a" required><br><br>

            <label for="b">Interval end (b):</label><br>
            <input type="text" name="b" id="b" required><br><br>

            <label for="n"> Polynomial degree (n):</label><br>
            <input type="text" name="n" id="n" required><br><br>

            <label for="file">Upload file with points in 2d space (like 0,0; 1, 1; 2, 4; 3,6; ……..):</label><br>
            <input type="file" name="file" id="file" required><br><br>

            <select name="method">
                <option value="SLE">Interpolation Polynomial solving SLE</option>
                <option value="Lagrange">Interpolation Polynomial using Lagrange formula</option>
                <option value="Parametric">Parametric Interpolation Polynomials</option>
            </select>

            <input type="submit" value="Submit">
        </form>
        {% if image %}
            <img src="{{ image }}" alt="Interpolation Polynomial">
        {% endif %}

    </body>

</html>